html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  top: unset;
}

body {
  font-size: 1.6rem !important;
  height: 100%;
  @include scrollbars(8px, $white, $primary-light-2, 10px);

  &.rtl {
    direction: rtl;
  }
}
