@import "abstracts/variables";
@import "abstracts/mixins";

.dropdown-with-search {
  border: 1px solid $primary-light-2;
  background-color: $primary-light-5;
  border-radius: 12px;
  &__dropdown {
    width: 170px;
    border-inline-end: 1px solid $primary-light-2;
    margin-inline-end: 24px;
    padding-inline-end: 24px;
  }
}

@include tablet-mobile {
  .dropdown-with-search {
    &__dropdown {
      width: 120px;
    }
  }
}
