<div class="top-header d-flex align-items-center justify-content-between">
  <div class="top-header__left d-flex align-items-center">
    <div class="font-2-regular-12 secondary-color">Chat with us</div>
    <div class="font-2-regular-12 primary-color mx-5">+420 336 775 664</div>
    <div class="font-2-regular-12 primary-color">info@freshnesecom.com</div>
  </div>

  <div class="top-header__right d-flex align-items-center">
    <div class="font-2-regular-12 secondary-color">Chat with us</div>
    <div class="font-2-regular-12 primary-color mx-5">+420 336 775 664</div>
    <div class="font-2-regular-12 primary-color">info@freshnesecom.com</div>
  </div>
</div>
