<div
  class="top-header d-flex align-items-center justify-content-between flex-wrap"
>
  <div class="top-header__text d-flex align-items-center flex-wrap">
    <div class="font-2-regular-12 secondary-color">Chat with us</div>
    <div
      class="top-header__text-center font-2-regular-12 primary-color margin-x-33"
    >
      +420 336 775 664
    </div>
    <div class="font-2-regular-12 primary-color">info@freshnesecom.com</div>
  </div>

  <div class="top-header__text d-flex align-items-center flex-wrap">
    <div class="font-2-regular-12 secondary-color">Blog</div>
    <div
      class="top-header__text-center font-2-regular-12 secondary-color margin-x-38"
    >
      About Us
    </div>
    <div class="font-2-regular-12 secondary-color">Careers</div>
  </div>
</div>
