@import "abstracts/variables";
@import "abstracts/mixins";

.pages {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    border-bottom: 1px solid rgba($color: $primary, $alpha: 0.05);
  }
  &__inner-page {
    height: calc(100% - 48px);
    flex: 1 1 auto;
    @include scrollbars(8px, $white, $primary-light-2, 10px);
  }
}
