<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="footer__column mb-5">
          <h3 class="footer__column-header font-semibold-18 primary-color">Get in touch</h3>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">About Us</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Careers</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Press Releases</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Blog</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer__column mb-5">
          <h3 class="footer__column-header font-semibold-18 primary-color">Connections</h3>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Facebook</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Twitter</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Instagram</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Youtube</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">LinkedIn</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer__column mb-5">
          <h3 class="footer__column-header font-semibold-18 primary-color">Earnings</h3>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Become an Affiliate</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Advertise your product</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Sell on Market</div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="footer__column mb-5">
          <h3 class="footer__column-header font-semibold-18 primary-color">Account</h3>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Your account</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Returns Centre</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">100 % purchase protection</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Chat with us</div>
          <div class="footer__column-link font-2-regular-14 secondary-color margin-t-16 cursor-pointer">Help</div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12 font-2-regular-14 primary-color margin-t-45">Copyright © 2020 petrbilek.com</div>
    </div>
  </div>
</footer>
