@import "abstracts/variables";
@import "abstracts/mixins";

.search {
  &__control {
    border: 0;
    margin-inline-end: 17px;
    outline: none;
    color: $primary;
    background-color: transparent;
    &::placeholder{
        @include input-placeholder{
            color: $primary-light-1;
        }
    }
  }
}
