@mixin font(
  $font-family: "poppins",
  $fontWeight: 400,
  $fontSize,
  $lineHeight: normal
) {
  font-family: $font-family;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}

// scroll bar
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color,
  $border-radius: 0
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-track {
    background-color: $foreground-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $background-color;
    border-radius: $border-radius;
    &:hover {
      background-color: $background-color;
    }
  }
}

// input placeholder
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

//  media query start from tablet
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: 912px) {
    @content;
  }
}
