@mixin font(
  $font-family: "poppins",
  $fontWeight: 400,
  $fontSize,
  $lineHeight: normal
) {
  font-family: $font-family;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
}

//  media query start from tablet
@mixin mobile {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin tablet-mobile {
  @media (max-width: 768px) {
    @content;
  }
}
