@import "./colors";
// primary colors
$primary: $primary-color;
$primary-dark: $primary-dark-color;
$primary-light-1: $primary-light-1-color;
$primary-light-2: $primary-light-2-color;
$primary-light-3: $primary-light-3-color;
$primary-light-4: $primary-light-4-color;
$primary-light-5: $primary-light-5-color;

// secondary colors
$secondary: $secondary-color;
$secondary-dark: $secondary-dark-color;
$secondary-light-1: $secondary-light-1-color;
$secondary-light-2: $secondary-light-2-color;
$secondary-light-3: $secondary-light-3-color;

// brown colors
$brown: $brown-color;
$brown-dark: $brown-dark-color;
$brown-light-1: $brown-light-1-color;
$brown-light-2: $brown-light-2-color;
$brown-light-3: $brown-light-3-color;

// orange colors
$orange: $orange-color;
$orange-dark: $orange-dark-color;
$orange-light-1: $orange-light-1-color;
$orange-light-2: $orange-light-2-color;
$orange-light-3: $orange-light-3-color;

// blue colors
$blue: $blue-color;
$blue-dark: $blue-dark-color;
$blue-light-1: $blue-light-1-color;
$blue-light-2: $blue-light-2-color;
$blue-light-3: $blue-light-3-color;

// base colors
$white: $white-color;
