<div class="home-header d-flex align-items-center justify-content-between">
  <div class="home-header__logo">
    <img src="assets/images/logo.png" alt="logo image" srcset="" />
  </div>
  <div class="home-header__dropdown-with-search flex-grow-1">
    <app-dropdown-with-search></app-dropdown-with-search>
  </div>
  <div class="home-header__icons d-flex align-items-center justify-content-end">
    <div class="home-header__icons-icon">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="#user"></use>
      </svg>
    </div>
    <div class="home-header__icons-icon cart">
      <svg width="24" height="24" viewBox="0 0 24 24">
        <use xlink:href="#cart"></use>
      </svg>
      <div class="home-header__icons-icon dot font-semibold-12 d-flex align-items-center justify-content-center">4</div>
    </div>
  </div>
</div>
