@import "abstracts/variables";
@import "abstracts/mixins";

.home-header {
  height: 130px;
  &__logo {
    width: 22%;
    margin-inline-end: 10px;
  }
  &__icons {
    width: 22%;
    &-icon {
      position: relative;
      &.dot {
        color: $white;
        width: 16px;
        height: 16px;
        position: absolute;
        bottom: -5px;
        margin: 0 -5px;
        background-color: $orange;
        border-radius: 50%;
      }
      &.cart {
        margin-inline-start: 40px;
      }
    }
  }
}

@include tablet-mobile {
  .home-header {
    &__logo {
      width: 30%;
      margin-inline-end: 10px;
      img {
        width: 100%;
      }
    }
    &__icons {
      width: 100%;
    }
  }
}
